# Ex1 - Filtering and Sorting Data

This time we are going to pull data directly from the internet. Special
thanks to: https://github.com/justmarkham for sharing the dataset and
materials.

### Step 1. Import the necessary libraries

In [2]:
import pandas as pd

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv).

### Step 3. Assign it to a variable called chipo.

In [3]:
url = 'https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv'
    
chipo = pd.read_csv(url, sep = '\t')

### Step 4. How many products cost more than \$10.00?

In [4]:
# Step 1: Clean the 'item_price' column and convert it to a float
chipo['item_price'] = chipo['item_price'].replace({'\$': ''}, regex=True).astype(float)

# Step 2: Remove duplicates based on 'item_name' and 'quantity'
chipo_cleaned = chipo.drop_duplicates(subset=['item_name', 'quantity'])

# Step 3: Filter the dataset to include only rows where 'quantity' equals 1
chipo_single_item = chipo_cleaned[chipo_cleaned['quantity'] == 1]

# Step 4: Find how many products cost more than $10.00
expensive_products = chipo_single_item[chipo_single_item['item_price'] > 10.00]

# Count the number of unique products that cost more than $10.00
num_expensive_products = expensive_products['item_name'].nunique()

# Print the result
print(f"{num_expensive_products}")

12

<>:2: SyntaxWarning: invalid escape sequence '\$'
<>:2: SyntaxWarning: invalid escape sequence '\$'
C:\Users\Administrator\AppData\Local\Temp\ipykernel_6956\2090063564.py:2: SyntaxWarning: invalid escape sequence '\$'
  chipo['item_price'] = chipo['item_price'].replace({'\$': ''}, regex=True).astype(float)

### Step 5. What is the price of each item?

###### print a data frame with only two columns item_name and item_price

In [5]:
# Step 1: Remove duplicates based on 'item_name' and 'quantity'
chipo_cleaned = chipo.drop_duplicates(subset=['item_name', 'quantity'])

# Step 2: Select only the rows where 'quantity' equals 1
chipo_single_item = chipo_cleaned[chipo_cleaned['quantity'] == 1]

# Step 3: Select only the 'item_name' and 'item_price' columns
chipo_price_df = chipo_single_item[['item_name', 'item_price']]

# Step 4: Sort the values by 'item_price' from most to least expensive
chipo_price_df_sorted = chipo_price_df.sort_values(by='item_price', ascending=False)

# Print the resulting DataFrame
print(chipo_price_df_sorted)

                                  item_name  item_price
1132                    Carnitas Salad Bowl       11.89
1229                    Barbacoa Salad Bowl       11.89
606                        Steak Salad Bowl       11.89
39                            Barbacoa Bowl       11.75
7                             Steak Burrito       11.75
168                   Barbacoa Crispy Tacos       11.75
57                           Veggie Burrito       11.25
62                              Veggie Bowl       11.25
186                       Veggie Salad Bowl       11.25
738                       Veggie Soft Tacos       11.25
250                           Chicken Salad       10.98
5                              Chicken Bowl       10.98
8                          Steak Soft Tacos        9.25
92                       Steak Crispy Tacos        9.25
554                   Carnitas Crispy Tacos        9.25
237                     Carnitas Soft Tacos        9.25
56                      Barbacoa Soft Tacos        9.25
33                            Carnitas Bowl        8.99
664                             Steak Salad        8.99
21                         Barbacoa Burrito        8.99
3750                         Carnitas Salad        8.99
54                               Steak Bowl        8.99
27                         Carnitas Burrito        8.99
44                       Chicken Salad Bowl        8.75
11                     Chicken Crispy Tacos        8.75
12                       Chicken Soft Tacos        8.75
1653                    Veggie Crispy Tacos        8.49
16                          Chicken Burrito        8.49
1694                           Veggie Salad        8.49
1414                                  Salad        7.40
673                                    Bowl        7.40
520                            Crispy Tacos        7.40
510                                 Burrito        7.40
298                       6 Pack Soft Drink        6.49
10                      Chips and Guacamole        4.45
2                          Nantucket Nectar        3.39
1                                      Izze        3.39
674       Chips and Mild Fresh Tomato Salsa        3.00
233      Chips and Roasted Chili Corn Salsa        2.95
38    Chips and Tomatillo Green Chili Salsa        2.95
111     Chips and Tomatillo Red Chili Salsa        2.95
0              Chips and Fresh Tomato Salsa        2.39
191      Chips and Roasted Chili-Corn Salsa        2.39
300     Chips and Tomatillo-Red Chili Salsa        2.39
3     Chips and Tomatillo-Green Chili Salsa        2.39
40                                    Chips        2.15
6                             Side of Chips        1.69
263                       Canned Soft Drink        1.25
34                            Bottled Water        1.09
28                              Canned Soda        1.09

### Step 6. Sort by the name of the item

In [6]:
 # OR
sorted_df = chipo.sort_values(by='item_name') 
pd.set_option('display.width', 400) 
# 显示包含指定列的整个排序后的DataFrame
print(sorted_df[['order_id', 'quantity', 'item_name', 'choice_description', 'item_price']])

      order_id  quantity          item_name                                 choice_description  item_price
3389      1360         2  6 Pack Soft Drink                                        [Diet Coke]       12.98
341        148         1  6 Pack Soft Drink                                        [Diet Coke]        6.49
1849       749         1  6 Pack Soft Drink                                             [Coke]        6.49
1860       754         1  6 Pack Soft Drink                                        [Diet Coke]        6.49
2713      1076         1  6 Pack Soft Drink                                             [Coke]        6.49
...        ...       ...                ...                                                ...         ...
2384       948         1  Veggie Soft Tacos  [Roasted Chili Corn Salsa, [Fajita Vegetables,...        8.75
781        322         1  Veggie Soft Tacos  [Fresh Tomato Salsa, [Black Beans, Cheese, Sou...        8.75
2851      1132         1  Veggie Soft Tacos  [Roasted Chili Corn Salsa (Medium), [Black Bea...        8.49
1699       688         1  Veggie Soft Tacos  [Fresh Tomato Salsa, [Fajita Vegetables, Rice,...       11.25
1395       567         1  Veggie Soft Tacos  [Fresh Tomato Salsa (Mild), [Pinto Beans, Rice...        8.49

[4622 rows x 5 columns]

### Step 7. What was the quantity of the most expensive item ordered?

In [7]:
most_expensive_item = chipo.sort_values(by='item_price', ascending=False).head(1)
 
# 选择需要的列
selected_columns = ['order_id', 'quantity', 'item_name', 'choice_description', 'item_price']
most_expensive_item_info = most_expensive_item[selected_columns]

 
# 输出结果
print(most_expensive_item_info)

      order_id  quantity                     item_name choice_description  item_price
3598      1443        15  Chips and Fresh Tomato Salsa                NaN       44.25

### Step 8. How many times was a Veggie Salad Bowl ordered?

In [8]:
# Step 8: Count how many times 'Veggie Salad Bowl' was ordered
veggie_salad_bowl_count = chipo[chipo['item_name'] == 'Veggie Salad Bowl'].shape[0]

# Print the result
print( veggie_salad_bowl_count)

18

### Step 9. How many times did someone order more than one Canned Soda?

In [9]:

canned_soda_multiple_order = chipo[(chipo['item_name'] == 'Canned Soda') & (chipo['quantity'] > 1)]
canned_soda_multiple_order_count = canned_soda_multiple_order.shape[0]
print(canned_soda_multiple_order_count)

20